<body>
  <h2>ABOUT US SECTION</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat ratione deleniti perferendis consequuntur maxime
    delectus, saepe assumenda illum reprehenderit ut iste eos ipsam iusto blanditiis quae facere, aspernatur voluptate
    nostrum.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae in, eius quam nihil corrupti, eligendi
    inventore beatae accusamus fuga iste consequatur architecto eos voluptate quisquam mollitia est, dolorum vitae
    porro.</p>

  <img src="../../../../assets/jon-parry-C8eSYwQkwHw-unsplash.jpg" alt="" class="gallery">

  <button routerLink="/contact">Contact us</button>
</body>