<body>
  <img (click)="onLogoClicked()" class="logo-size" src="../../../../../assets/logo-no-background.png" alt="beers">
  <h1>BeerAPI</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button routerLink="/">Home</button>
    </li>
    <li class="nav-item">
      <button routerLink="/beer-list">Beer List</button>
    </li>
    <li class="nav-item">
      <button routerLink="/add-beer">Add Beer</button>
    </li>
    <li class="nav-item">
      <button routerLink="/about-us">About Us</button>
    </li>
  </ul>
</body>